body {
  background: linear-gradient(to bottom, #7a8c80 0%, #7caf8d 65%, #7caf85 100%) fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9e9e9e;
  margin-top: 30px;
}
